{% extends "layout.html" %}

{% block title %}
    | My appointments
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/cards.css">
{% endblock %}

{% block main %}
<h2>My appointments</h2>

<div id="appointment-container">
    <div class="appointments">
        <div class="card card-body">
            <div class="event-header">
                <h4>Events</h4>
                <div class="button-add-container">
                    <button type="button" class="btn add" data-toggle="modal" data-target="#eventModal"><b>&#43;</b></button>
                </div>
            </div>       
            <div class="appointment-content">
                {% if events != [] %}
                    {% for event in events %}
                    <div class="card-event-grid">  
                        <div class="card-date">
                            <p>{{event.date}}</p>
                        </div>
                        <div class="card-time">
                            <div class="rectangle"></div>
                            <div class="card-time-div">
                                <small>{{event.start_time}}</small><br>
                                <small>{{event.end_time}}</small>
                            </div>
                            
                        </div>
                        <div class="card-title">
                            <h6>{{event.title}}</h6>
                        </div>
                        <div class="card-text">
                            <small>{{event.text}}</small>
                        </div>
                    </div> 
                    {% endfor %}
                {% else %}
                <div class="card-event">
                    <h6>There is no events.</h6>
                </div>
                {% endif %} 
            </div>                   
        </div>
    </div>
    <div class="appointments">
        <div class="card card-body">
            <div class="event-header" id="reminder-header">
                <h4>Reminders</h4>
                <div class="button-add-container">
                    <button type="button" class="btn add" data-toggle="modal" data-target="#reminderModal"><b>&#43;</b></button>
                </div>
            </div>
            <div class="appointment-content">
                {% if reminders != [] %}
                    {% for reminder in reminders %}
                    <div class="card-reminder"> 
                        <div class="card-date">
                            <p>{{reminder.date}}</p>
                        </div>
                        <div class="card-title">
                            <p>• <span>{{reminder.title}}</span></p>
                        </div>  
                    </div>                                      
                    {% endfor %}                
                {% else %}
                <div class="card-reminder">     
                    <h6>There is no reminders.</h6>
                </div>
                {% endif %} 
            </div>     
        </div>
    </div>
</div>
<div class="modal fade" id="eventModal" tabindex="-1" aria-hidden="true">
    <form action="/events" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title of event" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Add more details</label><br>
                        <textarea class="form-control" name="text" rows="3"></textarea>
                        <small class="form-text text-muted">Optional</small>
                    </div>
                    <div class="form-group">
                        <label>Day of Event</label><br>
                        <input class="form-control" name="date" type="date" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Start of Event</label><br>
                            <input class="form-control" name="start-time" type="time" id="start-time" required>
                        </div>
                        <div class="form-group col">
                            <label>End of Event</label><br>
                            <input class="form-control" name="end-time" type="time" id="end-time" min="" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Add event</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="reminderModal" tabindex="-1" aria-hidden="true">
    <form action="/reminders" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new reminder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title of reminder" type="text" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="time" type="date" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Add reminder</button>
                </div>
            </div>
        </div>
    </form>
    
</div>
<script>
    document.getElementById("start-time").onchange = function ()
    {
    var input = document.getElementById("end-time");
    input.setAttribute("min", document.getElementById("start-time").value);
    }
</script>
{% endblock %}
